/* be-vietnam-pro-latin-400-normal */
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-400-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* be-vietnam-pro-latin-500-normal */
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-500-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-500-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* be-vietnam-pro-latin-600-normal */
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-600-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-600-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* be-vietnam-pro-latin-700-normal */
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-700-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-700-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro";
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 1rem;
  padding: 20px 15px;
  background: #f7f7f8;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

a.logo {
  display: block;
  width: 44px;
  height: 44px;
  padding: 5.7px;
  background: orange;
  border-radius: 8px;
}
a.logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 3.4px;
}

.section__title h2 {
  color: #262626;
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 4px;
}
.section__title-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__title-desc p {
  color: #59595a;
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
  width: 933px;
}
.section__title-button {
  border: 1px solid #f1f1f3;
  border-radius: 6px;
  background: #fcfcfd;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .section__title h2 {
    font-size: 28px;
  }
  .section__title-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    row-gap: 20px;
  }
  .section__title-desc p {
    color: #59595a;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
  }
  .section__title-button {
    border: 1px solid #f1f1f3;
    border-radius: 6px;
    background: #fcfcfd;
    padding: 14px 20px;
  }
}
.desc,
.video,
.benefits,
.courses,
.testimonials,
.pricing,
.questions {
  margin-bottom: 100px;
}

/* Banner */
.banner {
  background: orange;
  padding: 10px 20px;
  border-radius: 6px;
}

.banner__center {
  text-align: center;
}
.banner__center a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.banner__center i {
  padding-left: 30px;
  color: #fff;
}

@media screen and (max-width: 574px) {
  .banner {
    background: orange;
    padding: 10px 12px;
    border-radius: 6px;
  }
  .banner__center {
    text-align: center;
  }
  .banner__center a {
    font-size: clamp(10px, 3vw, 14px);
  }
  .banner__center i {
    padding-left: 12px;
  }
}
@media screen and (max-width: 320px) {
  .banner {
    background: orange;
    padding: 10px 5px;
    border-radius: 6px;
  }
  .banner__center {
    text-align: center;
  }
  .banner__center i {
    padding-left: 10px;
  }
}
/* Header */
header {
  padding: 16px 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.nav ul.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav.nav ul.menu_list li.menu_item {
  padding-right: 5px;
}
nav.nav ul.menu_list li.menu_item:last-child {
  padding: 0;
}
nav.nav ul.menu_list li.menu_item a.menu_link {
  display: block;
  padding: 12px 20px;
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
}
nav.nav ul.menu_list li.menu_item a.menu_link.active {
  background: #f1f1f3;
}
nav.nav ul.menu_list li.menu_item a.menu_link:hover {
  background: #f1f1f3;
}

.button__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button__group button.btn {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
}
.button__group button.btn-success {
  padding-inline: 24px;
  background: #ff9500;
  margin-left: 30px;
  color: #fff;
}

button.burger {
  display: none;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  padding: 5px 0;
}
button.burger span.line {
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 12px;
}
button.burger span.line::after, button.burger span.line::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  background: inherit;
  width: 100%;
  height: inherit;
  border-radius: inherit;
}
button.burger span.line::before {
  top: -10px;
}
button.burger span.line::after {
  top: 10px;
  width: 50%;
}

@media screen and (max-width: 1860px) {
  header .container {
    max-width: 100%;
    padding-inline: 132px;
  }
}
@media screen and (max-width: 1240px) {
  header .container {
    padding-inline: 100px;
  }
}
@media screen and (max-width: 992px) {
  header .container {
    padding-inline: 0;
  }
  nav.nav {
    display: none;
  }
  button.burger {
    display: block;
  }
}
/* Benefits */
.benefits__group {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: 370px;
  gap: 20px;
}
.benefits__group-card {
  border-radius: 10px;
  padding: 40px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.benefits__group-card-numb {
  text-align: right;
}
.benefits__group-card-numb h2 {
  color: #262626;
  font-size: 60px;
  font-weight: 700;
}
.benefits__group-card-desc {
  text-align: left;
}
.benefits__group-card-desc h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 10px;
}
.benefits__group-card-desc p {
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4d;
}
.benefits__group-card-arrow {
  width: 54px;
  height: 54px;
  padding: 14px;
  background: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits__group-card-arrow i.arrow {
  background: url("../images/arrow.svg") no-repeat center/contain;
  display: block;
  padding: 6.5px;
}

.card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 574px) {
  .benefits__group {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .benefits__group-card {
    padding: 30px;
    row-gap: 30px;
  }
  .benefits__group-card-numb {
    text-align: right;
  }
  .benefits__group-card-numb h2 {
    font-size: 50px;
  }
  .benefits__group-card-desc p {
    font-size: 14px;
  }
}
/* Courses */
.courses__group {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.courses__group-card {
  padding: 40px;
  background: #fff;
  border-radius: 10px;
}
.courses__group-card-top {
  max-height: 266px;
  margin-bottom: 24px;
  border-radius: 8px;
  overflow: hidden;
}
.courses__group-card-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.courses__group-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.courses__group-card-bottom-weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses__group-card-bottom-weeks .weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.courses__group-card-bottom-weeks .weeks button.btn {
  color: #4c4c4d;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
}
.courses__group-card-bottom-weeks .weeks button.btn-light {
  border: 1px solid #f1f1f3;
}
.courses__group-card-bottom-weeks h3 {
  font-size: 16px;
  font-weight: 500;
  color: #262626;
}
.courses__group-card-bottom .desc {
  margin: 0;
}
.courses__group-card-bottom .desc h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.courses__group-card-bottom .desc p {
  font-size: 16px;
  font-weight: 400;
}
.courses__group-card-bottom .btn-light {
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  background: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 6px;
}

@media screen and (max-width: 992px) {
  .courses__group {
    margin-top: 40px;
  }
  .courses__group-card-bottom-weeks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
  .courses__group-card-bottom-weeks .weeks {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
  .courses__group-card-bottom-weeks .weeks button.btn {
    padding: 8px 14px;
  }
  .courses__group-card-bottom .desc {
    margin: 0;
  }
  .courses__group-card-bottom .desc h3 {
    font-size: 18px;
  }
  .courses__group-card-bottom .desc p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .courses__group {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 574px) {
  .courses__group-card {
    padding: 24px;
  }
}
/* Testimonials */
.testimonials__card {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.testimonials__card-item {
  background: #fff;
}
.testimonials__card-item-top {
  padding: 40px;
}
.testimonials__card-item-top p {
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4d;
  line-height: 1.5;
}
.testimonials__card-item-bottom {
  padding: 24px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fcfcfd;
}
.testimonials__card-item-bottom .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.testimonials__card-item-bottom .author h3 {
  font-size: 16px;
  font-weight: 600;
}
.testimonials__card-item-bottom button.btn {
  border: 1px solid #f1f1f3;
  border-radius: 6px;
  background: #f7f7f8;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .testimonials__card {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .testimonials__card-item-top {
    padding: 30px 24px;
  }
  .testimonials__card-item-top p {
    font-size: 14px;
  }
  .testimonials__card-item-bottom {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 574px) {
  .testimonials__card {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .testimonials__card-item-top {
    padding: 30px 24px;
  }
  .testimonials__card-item-top p {
    font-size: 14px;
  }
  .testimonials__card-item-bottom {
    padding: 20px 30px;
  }
  .testimonials__card-item-bottom .author h3 {
    font-size: 10px;
  }
  .testimonials__card-item-bottom button.btn {
    padding: 14px 12px;
    font-size: 10px;
  }
}
/* Pricing */
.wrapper__model {
  margin: 100px 132px 0;
  border-bottom: 1px solid rgb(228, 228, 231);
  padding-bottom: 50px;
}
.wrapper__model .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.wrapper__model-heading {
  max-width: 50%;
}
.wrapper__model-heading h1 {
  color: rgb(38, 38, 38);
  font-size: 38px;
  font-weight: 600;
}
.wrapper__model-desc {
  max-width: 50%;
}
.wrapper__model-desc p {
  color: #59595a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 992px) {
  .wrapper__model {
    margin: 100px 0;
  }
  .wrapper__model .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__model-heading {
    max-width: 100%;
    padding-bottom: 10px;
  }
  .wrapper__model-heading h1 {
    font-size: 28px;
  }
  .wrapper__model-desc {
    max-width: 100%;
  }
  .wrapper__model-desc p {
    font-size: 14px;
  }
}
@media screen and (max-width: 574px) {
  .wrapper__model {
    margin: 50px 0;
  }
  .wrapper__model .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__model-heading {
    max-width: 100%;
  }
  .wrapper__model-heading h1 {
    font-size: 28px;
  }
  .wrapper__model-desc {
    max-width: 100%;
  }
  .wrapper__model-desc p {
    font-size: 14px;
  }
}
footer.footer {
  padding: 60px 80px 20px;
  background: #fff;
}
footer.footer .container {
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address * {
  color: #262626;
}

.menu__address {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}
.menu__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__address-link {
  font-size: 14px;
  font-weight: 400;
}

.menu__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: clamp(24px, 8vw, 124px);
     -moz-column-gap: clamp(24px, 8vw, 124px);
          column-gap: clamp(24px, 8vw, 124px);
}

.menu__group-list h2 {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}
.menu__group-list-nav {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.menu__group-list-nav-link {
  display: block;
  color: #59595a;
}

.menu__group-list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.menu__group-list-social-item-link {
  display: block;
}
.menu__group-list-social-item-link i {
  color: #333333;
  padding: 15px;
  background: #f7f7f8;
  border-radius: 6px;
}

.bottom {
  border-top: 1px solid rgb(241, 241, 243);
  padding-top: 30.5px;
  margin-top: 30.5px;
}
.bottom h2 {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  footer.footer {
    padding: 50px 20px 0;
  }
  footer.footer .row {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .menu__group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px;
  }
}/*# sourceMappingURL=style.css.map */