/* be-vietnam-pro-latin-400-normal */
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-400-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-400-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* be-vietnam-pro-latin-500-normal */
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-500-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-500-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* be-vietnam-pro-latin-600-normal */
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-600-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-600-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* be-vietnam-pro-latin-700-normal */
@font-face {
  font-family: "Be Vietnam Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-700-normal.woff2) format("woff2"), url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-700-normal.woff) format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro";
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 1rem;
  padding: 20px 0;
  background: #f7f7f8;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

a.logo {
  display: block;
  width: 44px;
  height: 44px;
  padding: 5.7px;
  background: orange;
  border-radius: 8px;
}
a.logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 3.4px;
}

.section__title h2 {
  color: #262626;
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 4px;
}
.section__title-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__title-desc p {
  color: #59595a;
  font-size: 16px;
  font-weight: 400;
  max-width: 100%;
  width: 933px;
}
.section__title-button {
  border: 1px solid #f1f1f3;
  border-radius: 6px;
  background: #fcfcfd;
  padding: 14px 20px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .section__title h2 {
    font-size: 28px;
  }
  .section__title-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    row-gap: 20px;
  }
  .section__title-desc p {
    color: #59595a;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
  }
  .section__title-button {
    border: 1px solid #f1f1f3;
    border-radius: 6px;
    background: #fcfcfd;
    padding: 14px 20px;
  }
}
.desc,
.video,
.benefits,
.courses,
.testimonials,
.pricing,
.questions {
  margin-bottom: 100px;
}

/* Banner */
.banner {
  background: orange;
  padding: 10px 20px;
  border-radius: 6px;
}

.banner__center {
  text-align: center;
}
.banner__center a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.banner__center i {
  padding-left: 30px;
  color: #fff;
}

@media screen and (max-width: 574px) {
  .banner {
    background: orange;
    padding: 10px 12px;
    border-radius: 6px;
  }
  .banner__center {
    text-align: center;
  }
  .banner__center a {
    font-size: clamp(10px, 3vw, 14px);
  }
  .banner__center i {
    padding-left: 12px;
  }
}
@media screen and (max-width: 320px) {
  .banner {
    background: orange;
    padding: 10px 5px;
    border-radius: 6px;
  }
  .banner__center {
    text-align: center;
  }
  .banner__center i {
    padding-left: 10px;
  }
}
/* Header */
header {
  padding: 16px 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.nav ul.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav.nav ul.menu_list li.menu_item {
  padding-right: 5px;
}
nav.nav ul.menu_list li.menu_item:last-child {
  padding: 0;
}
nav.nav ul.menu_list li.menu_item a.menu_link {
  display: block;
  padding: 12px 20px;
  color: #262626;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
}
nav.nav ul.menu_list li.menu_item a.menu_link.active {
  background: #f1f1f3;
}
nav.nav ul.menu_list li.menu_item a.menu_link:hover {
  background: #f1f1f3;
}

.button__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button__group button.btn {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
}
.button__group button.btn-success {
  padding-inline: 24px;
  background: #ff9500;
  margin-left: 30px;
  color: #fff;
}

button.burger {
  display: none;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  padding: 5px 0;
}
button.burger span.line {
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 12px;
}
button.burger span.line::after, button.burger span.line::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  background: inherit;
  width: 100%;
  height: inherit;
  border-radius: inherit;
}
button.burger span.line::before {
  top: -10px;
}
button.burger span.line::after {
  top: 10px;
  width: 50%;
}

@media screen and (max-width: 1860px) {
  header .container {
    max-width: 100%;
    padding-inline: 132px;
  }
}
@media screen and (max-width: 1240px) {
  header .container {
    padding-inline: 100px;
  }
}
@media screen and (max-width: 992px) {
  header .container {
    padding-inline: 0;
  }
  nav.nav {
    display: none;
  }
  button.burger {
    display: block;
  }
}
/* Benefits */
.benefits__group {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: 370px;
  gap: 20px;
}
.benefits__group-card {
  border-radius: 10px;
  padding: 40px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.benefits__group-card-numb {
  text-align: right;
}
.benefits__group-card-numb h2 {
  color: #262626;
  font-size: 60px;
  font-weight: 700;
}
.benefits__group-card-desc {
  text-align: left;
}
.benefits__group-card-desc h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 10px;
}
.benefits__group-card-desc p {
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4d;
}
.benefits__group-card-arrow {
  width: 54px;
  height: 54px;
  padding: 14px;
  background: #fcfcfd;
  border: 1px solid #f1f1f3;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits__group-card-arrow i.arrow {
  background: url("../images/arrow.svg") no-repeat center/contain;
  display: block;
  padding: 6.5px;
}

.card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 574px) {
  .benefits__group {
    margin-top: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .benefits__group-card {
    padding: 30px;
    row-gap: 30px;
  }
  .benefits__group-card-numb {
    text-align: right;
  }
  .benefits__group-card-numb h2 {
    font-size: 50px;
  }
  .benefits__group-card-desc p {
    font-size: 14px;
  }
}
/* Courses */
.courses__group {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.courses__group-card {
  padding: 40px;
  background: #fff;
  border-radius: 10px;
}
.courses__group-card-top {
  max-height: 266px;
  margin-bottom: 24px;
  border-radius: 8px;
  overflow: hidden;
}
.courses__group-card-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.courses__group-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.courses__group-card-bottom-weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.courses__group-card-bottom-weeks .weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.courses__group-card-bottom-weeks .weeks button.btn {
  color: #4c4c4d;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
}
.courses__group-card-bottom-weeks .weeks button.btn-light {
  border: 1px solid #f1f1f3;
}
.courses__group-card-bottom-weeks h3 {
  font-size: 16px;
  font-weight: 500;
  color: #262626;
}
.courses__group-card-bottom .desc {
  margin: 0;
}
.courses__group-card-bottom .desc h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
}
.courses__group-card-bottom .desc p {
  font-size: 16px;
  font-weight: 400;
}
.courses__group-card-bottom .btn-light {
  padding: 14px 24px;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  background: #f7f7f8;
  border: 1px solid #f1f1f3;
  border-radius: 6px;
}

@media screen and (max-width: 992px) {
  .courses__group {
    margin-top: 40px;
  }
  .courses__group-card-bottom-weeks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
  .courses__group-card-bottom-weeks .weeks {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
  }
  .courses__group-card-bottom-weeks .weeks button.btn {
    padding: 8px 14px;
  }
  .courses__group-card-bottom .desc {
    margin: 0;
  }
  .courses__group-card-bottom .desc h3 {
    font-size: 18px;
  }
  .courses__group-card-bottom .desc p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .courses__group {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 574px) {
  .courses__group-card {
    padding: 24px;
  }
}
/* Testimonials */
.testimonials__card {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.testimonials__card-item {
  background: #fff;
}
.testimonials__card-item-top {
  padding: 40px;
}
.testimonials__card-item-top p {
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4d;
  line-height: 1.5;
}
.testimonials__card-item-bottom {
  padding: 24px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fcfcfd;
}
.testimonials__card-item-bottom .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.testimonials__card-item-bottom .author h3 {
  font-size: 16px;
  font-weight: 600;
}
.testimonials__card-item-bottom button.btn {
  border: 1px solid #f1f1f3;
  border-radius: 6px;
  background: #f7f7f8;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .testimonials__card {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .testimonials__card-item-top {
    padding: 30px 24px;
  }
  .testimonials__card-item-top p {
    font-size: 14px;
  }
  .testimonials__card-item-bottom {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 574px) {
  .testimonials__card {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .testimonials__card-item-top {
    padding: 30px 24px;
  }
  .testimonials__card-item-top p {
    font-size: 14px;
  }
  .testimonials__card-item-bottom {
    padding: 20px 30px;
  }
  .testimonials__card-item-bottom .author h3 {
    font-size: 10px;
  }
  .testimonials__card-item-bottom button.btn {
    padding: 14px 12px;
    font-size: 10px;
  }
}
/* Pricing */
.wrapper__model {
  margin: 100px 132px 0;
  border-bottom: 1px solid rgb(228, 228, 231);
  padding-bottom: 50px;
}
.wrapper__model .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
.wrapper__model-heading {
  max-width: 50%;
}
.wrapper__model-heading h1 {
  color: rgb(38, 38, 38);
  font-size: 38px;
  font-weight: 600;
}
.wrapper__model-desc {
  max-width: 50%;
}
.wrapper__model-desc p {
  color: #59595a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 992px) {
  .wrapper__model {
    margin: 100px 0;
  }
  .wrapper__model .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__model-heading {
    max-width: 100%;
    padding-bottom: 10px;
  }
  .wrapper__model-heading h1 {
    font-size: 28px;
  }
  .wrapper__model-desc {
    max-width: 100%;
  }
  .wrapper__model-desc p {
    font-size: 14px;
  }
}
@media screen and (max-width: 574px) {
  .wrapper__model {
    margin: 50px 0;
  }
  .wrapper__model .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper__model-heading {
    max-width: 100%;
  }
  .wrapper__model-heading h1 {
    font-size: 28px;
  }
  .wrapper__model-desc {
    max-width: 100%;
  }
  .wrapper__model-desc p {
    font-size: 14px;
  }
}
footer.footer {
  padding: 60px 80px 20px;
  background: #fff;
}
footer.footer .container {
  padding: 0;
}
footer.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address * {
  color: #262626;
}

.menu__address {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}
.menu__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__address-link {
  font-size: 14px;
  font-weight: 400;
}

.menu__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: clamp(24px, 8vw, 124px);
     -moz-column-gap: clamp(24px, 8vw, 124px);
          column-gap: clamp(24px, 8vw, 124px);
}

.menu__group-list h2 {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}
.menu__group-list-nav {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.menu__group-list-nav-link {
  display: block;
  color: #59595a;
}

.menu__group-list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.menu__group-list-social-item-link {
  display: block;
}
.menu__group-list-social-item-link i {
  color: #333333;
  padding: 15px;
  background: #f7f7f8;
  border-radius: 6px;
}

.bottom {
  border-top: 1px solid rgb(241, 241, 243);
  padding-top: 30.5px;
  margin-top: 30.5px;
}
.bottom h2 {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  footer.footer {
    padding: 50px 20px 0;
  }
  footer.footer .row {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  .menu__group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 24px;
  }
}
/* Main Courses */
article.courses__group-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.row-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.courses__about {
  padding: 80px 0 100px;
}
.courses__about .courses__group-card .courses-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.courses__about .courses__group-card .courses-top .section__title h2 {
  font-size: 20px;
  padding-bottom: 6px;
}
.courses__about .courses__group-card .courses-top .slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.courses__about .courses__group-card .courses-top .slider img {
  max-width: 100%;
  width: 100%;
  height: 326px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.courses__about .courses__group-card .courses-bottom .courses-title {
  padding: 20px 24px;
  border: 1px solid #f1f1f3;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
}
.courses__about .courses__group-card .courses-bottom .courses-block {
  padding: 24px 40px;
  border: 1px solid #f1f1f3;
  border-radius: 0 0 12px 12px;
}
.courses__about .courses__group-card .courses-bottom .courses-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.courses__about .courses__group-card .courses-bottom .courses-block-container-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto;
  border-right: 1px solid #f1f1f3;
  padding-inline: 39.5px 40.5px;
}
.courses__about .courses__group-card .courses-bottom .courses-block-container-item-item h2 {
  font-size: 40px;
  font-weight: 800;
}
.courses__about .courses__group-card .courses-bottom .courses-block-container-item-item p {
  font-size: 16px;
  font-weight: 500;
}
.courses__about .courses__group-card .courses-bottom .courses-block-container-item:first-child {
  padding-inline: 0 40.5px;
}
.courses__about .courses__group-card .courses-bottom .courses-block-container-item:last-child {
  padding-inline: 39.5px 0;
  border-right: 1px solid transparent;
}

/* Courses About Begin */
.courses__aboutPage {
  margin-bottom: 180px;
}
.courses__aboutPage-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(613px, 1fr));
  gap: 20px;
}

.courses__aboutPage-box {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
}
.courses__aboutPage-box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.courses__aboutPage-box-item-title {
  color: #262626;
  font-size: 60px;
  font-weight: 700;
  text-align: right;
}
.courses__aboutPage-box-item-subtitle {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6%;
}
.courses__aboutPage-box-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.courses__aboutPage-box-item-list-item {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #f1f1f3;
  padding: 20px 24px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.courses__aboutPage-box-item-list-item:hover {
  -webkit-box-shadow: 0 0 0 4px #ffeacc;
          box-shadow: 0 0 0 4px #ffeacc;
}
.courses__aboutPage-box-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.courses__aboutPage-box-item-left-title {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}
.courses__aboutPage-box-item-left-subtitle {
  color: #59595a;
  font-size: 14px;
  font-weight: 400;
  padding-top: 2px;
}
.courses__aboutPage-box-item-right-button {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  background: #f7f7f8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses__aboutPage-box-item-right-button .icon-clock {
  width: 20px;
  height: 20px;
  background: url("../../images/Vector.svg") no-repeat center/cover;
}
.courses__aboutPage-box-item-right-button .icon {
  display: block;
  padding: 2.5px;
}
.courses__aboutPage-box-item-right-button.active {
  background: #ffeacc;
}

/* Courses About End */
/*  */
.account__area {
  background: #fff;
  width: 540px;
  border-radius: 10px;
}
.account__area-box {
  padding: 40px;
}
.account__area-box-title {
  color: #262626;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}
.account__area-box-subtitle {
  color: #4c4c4d;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 40px;
}
.account__area-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.account__area-box-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.account__area-box-field label {
  color: #656567;
  font-size: 16px;
  font-weight: 500;
}
.account__area-box-field input:not([type=checkbox]) {
  width: 100%;
  border: 1px solid #f1f1f3;
  border-radius: 8px;
  background: #fcfcfd;
  padding: 20px;
}
.account__area-box-field input:not([type=checkbox]):focus {
  border: 1px solid #4c4c4d;
  outline: 1px solid transparent;
}
.account__area-box-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.account__area-box-buttons .btn {
  padding: 14px 20px;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.account__area-box-buttons .btn-success {
  background: #ff9500;
  color: #fff;
}
.account__area-box-buttons .btn-google {
  background: #f7f7f8;
  border: 1px solid #f1f1f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.account__area-box-buttons .btn-google .icon-google {
  background: url("../../images/google.svg") center/cover;
  display: block;
  width: 24px;
  height: 24px;
}
.account__area-box-buttons .line-throug {
  position: relative;
  width: 100%;
}
.account__area-box-buttons .line-throug::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
.account__area-box-buttons .line-throug .or {
  display: block;
  padding-block: 24px;
  text-align: center;
  position: relative;
  z-index: 5;
}
.account__area-box-buttons .line-throug .or::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  padding-inline: 10px;
  background: #fff;
}
.account__area-box-buttons .btn-google {
  color: #262626;
}
.account__area-box-link {
  padding-top: 24px;
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.account__area-box-link span {
  display: inline-block;
  position: relative;
}
.account__area-box-link span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #262626;
}
.account__area-box-link span a {
  color: inherit;
}
.account__area-box-link .arrow {
  margin: 0 0 -5px 10px;
  padding: 2.5px;
  width: 20px;
  height: 20px;
}
.account__area-box-link .arrow path {
  fill: #262626;
}
.account__area-box-rule input {
  margin-right: 8px;
  margin-bottom: -5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  background: #F7F7F8;
  border: 1px solid #F1F1F3;
  border-radius: 4px;
  padding: 5px;
  position: relative;
}
.account__area-box-rule input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: inherit;
}
.account__area-box-rule input:focus::after {
  background: #4c4c4d;
}
.account__area-box-rule .line {
  position: relative;
}
.account__area-box-rule .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #656567;
}

/* Contact */
.contact__form {
  margin: 80px 0;
}
.contact__form-content {
  padding: 60px;
  background: #fff;
  border-right: 1px solid #f1f1f3;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  max-width: 70%;
  width: 70%;
  min-height: 752px;
}
.contact__form-aside {
  min-height: 752px;
  padding: 60px;
  background: #fff;
  max-width: 30%;
  width: 30%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.contact__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.contact__form-input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.contact__form-input-field-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  width: 100%;
}
.contact__form-input-field-col label {
  color: #262626;
  font-size: 16px;
  font-weight: 500;
}
.contact__form-input-field-col input, .contact__form-input-field-col textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(241, 241, 243);
  background: rgb(252, 252, 253);
  border-radius: 6px;
}
.contact__form-input-field-col input::-webkit-input-placeholder, .contact__form-input-field-col textarea::-webkit-input-placeholder {
  color: #656567;
}
.contact__form-input-field-col input::-moz-placeholder, .contact__form-input-field-col textarea::-moz-placeholder {
  color: #656567;
}
.contact__form-input-field-col input:-ms-input-placeholder, .contact__form-input-field-col textarea:-ms-input-placeholder {
  color: #656567;
}
.contact__form-input-field-col input::-ms-input-placeholder, .contact__form-input-field-col textarea::-ms-input-placeholder {
  color: #656567;
}
.contact__form-input-field-col input::placeholder, .contact__form-input-field-col textarea::placeholder {
  color: #656567;
}
.contact__form-input-field-col input:focus, .contact__form-input-field-col textarea:focus {
  outline: 1px solid #ddd;
}
.contact__form-input button.btn {
  margin: 40px auto;
  max-width: 174px;
  width: 100%;
  height: 49px;
  padding: 14px 20px 14px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
}
.contact__form-input button.btn-success {
  background: #ff9500;
}

.row-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.contact__form-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
.contact__form-aside-box {
  padding: 30px;
  border: 1px solid #f1f1f3;
  border-radius: 6px;
  background: #fcfcfd;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__form-aside-box .icon {
  border: 1px solid #f1f1f3;
  background: #f7f7f8;
  border-radius: 6px;
  padding: 12px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact__form-aside-box .icon i {
  font-size: 1.25rem;
}
.contact__form-aside-box a {
  color: #4c4c4d;
  word-break: break-all;
}
.contact__form-aside .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.contact__form-aside h3 {
  color: #4c4c4d;
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .row-start {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form {
    margin: 80px 0;
  }
  .contact__form-content {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    max-width: 100%;
    width: 100%;
  }
  .contact__form-aside {
    padding: 60px;
    max-width: 100%;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}/*# sourceMappingURL=style.css.map */