/* Header */
/* 1440px , 1240px, 992px, 768px, 574px */

header {
  padding: 16px 0;
}

.row {
  display: flex;
  @include row(center, space-between);
}

.menu {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

nav.nav {
  & ul.menu_list {
    display: flex;
    & li.menu_item {
      padding-right: 5px;
      &:last-child {
        padding: 0;
      }
      & a.menu_link {
        display: block;
        padding: 12px 20px;
        color: #262626;
        font-size: 14px;
        font-weight: 400;
        border-radius: 6px;
        &.active {
          background: #f1f1f3;
        }
        &:hover {
          background: #f1f1f3;
        }
      }
    }
  }
}

.button__group {
  display: flex;
  align-items: center;
  & button.btn {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
  }
  & button.btn-success {
    padding-inline: 24px;
    background: #ff9500;
    margin-left: 30px;
    color: #fff;
  }
}

button.burger {
  display: none;
  margin-left: 10px;
  width: 34px;
  height: 34px;
  padding: 5px 0;
  & span.line {
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 12px;
    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 0;
      display: block;
      background: inherit;
      width: 100%;
      height: inherit;
      border-radius: inherit;
    }
    &::before {
      top: -10px;
    }
    &::after {
      top: 10px;
      width: 50%;
    }
  }
}

@media screen and (max-width: 992px) {
  nav.nav {
    display: none;
  }
  button.burger {
    display: block;
  }
}
