/* Slider */
.slider-nav {
  margin-bottom: 50px;
}
.slider {
  &__img {
    display: flex;
    padding: 24px;
    background: #ffffff;
    &-item {
      text-align: center;
      flex: 2 2 auto;
      width: calc(100% / 7);
      padding: 20px 40px;
      border-right: 1px solid #f1f1f3;
      &:last-child {
        border-right: 1px solid transparent;
      }
      & img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
