/* About Page */

.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
  & .container-title {
    margin-bottom: calc(60px - 24px);
  }
  &:last-child {
    margin: 0;
  }
}

.about-title {
  color: #333333;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 6px;
}

.about-subtitle {
  color: #59595a;
  font-size: 16px;
  font-weight: 400;
}

.about__box {
  flex: 2 2 630px;
  width: 100%;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  &-icon {
    display: inline-flex;
    @include row(center, center);
    padding: 14px;
    background: #fff9f0;
    border-radius: 6px;
    color: #ff9500;
    margin-bottom: 24px;
  }
  &-title {
    color: #262626;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  &-subtitle {
    color: #59595a;
    font-size: 16px;
    font-weight: 400;
  }
}

.container__ads {
  padding: 60px;
  background: #ffffff url("../../images/shape.png") no-repeat 80% 50%/250px
    250px;
  &-title {
    max-width: 757px;
    width: 100%;
    & h2 {
      color: #262626;
      font-size: 38px;
      font-weight: 600;
      padding-bottom: 14px;
      word-break: break-all;
      & strong {
        color: #ff9500;
      }
    }
    & p {
      color: #4c4c4d;
      font-size: 16px;
      font-weight: 400;
    }
  }
  & button.btn-orange {
    width: 103px;
    height: 49px;
    padding: 14px 20px;
    background: #ff9500;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
  }
}

.container-card-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .container-card-block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .container__ads .row {
    flex-direction: column;
    align-items: start;
    & h2 {
      font-size: 28px;
    }
  }
  .container__ads button.btn-orange {
    margin-top: 40px;
  }
  .container__ads {
    background: #ffffff url(../../images/shape.png) no-repeat 100% 205%/250px 250px;
  }
}

