/* Sign */

.account__info {
  max-width: 100%;
  width: 100%;
  margin-right: 80px;
  &-area {
    margin-bottom: 60px;
    &-title {
      color: #262626;
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 4px;
    }
    &-subtitle {
      color: #59595a;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &-slider {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
    &-icon {
      width: 54px;
      height: 54px;
      background: #fff;
    }
  }
}

.account__area {
  background: #fff;
  max-width: calc(100% / 2.35);
  width: 100%;
  border-radius: 10px;
  &-box {
    padding: 40px;
    &-title {
      color: #262626;
      font-size: 38px;
      font-weight: 600;
      text-align: center;
    }
    &-subtitle {
      color: #4c4c4d;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 40px;
    }
    & form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    &-field {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      & label {
        color: #656567;
        font-size: 16px;
        font-weight: 500;
      }
      & input:not([type="checkbox"]) {
        width: 100%;
        border: 1px solid #f1f1f3;
        border-radius: 8px;
        background: #fcfcfd;
        padding: 20px;
        &:focus {
          border: 1px solid #4c4c4d;
          outline: 1px solid transparent;
        }
      }
      & .forget {
        color: #4c4c4d;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
      }
    }
    &-buttons {
      display: flex;
      flex-direction: column;
      @include row(center, center);
      & .btn {
        padding: 14px 20px;
        border-radius: 8px;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
      }
      & .btn-success {
        background: #ff9500;
        color: #fff;
      }
      & .btn-google {
        background: #f7f7f8;
        border: 1px solid #f1f1f3;
        display: flex;
        @include row(center, center);
        column-gap: 14px;
        & .icon-google {
          background: url("../../images/google.svg") center/cover;
          display: block;
          width: 24px;
          height: 24px;
        }
      }
      & .line-throug {
        position: relative;
        width: 100%;
        &::after {
          content: "";
          position: absolute;
          bottom: 50%;
          left: 0;
          right: 0;
          width: 100%;
          height: 1px;
          background: #000;
        }
        & .or {
          display: block;
          padding-block: 24px;
          text-align: center;
          position: relative;
          z-index: 5;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -5;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            padding-inline: 10px;
            background: #fff;
          }
        }
      }
      & .btn-google {
        color: #262626;
      }
    }
    &-link {
      padding-top: 24px;
      color: #262626;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      & span {
        display: inline-block;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 2px;
          background: #262626;
        }
        & a {
          color: inherit;
        }
      }
      & .arrow {
        margin: 0 0 -5px 10px;
        padding: 2.5px;
        width: 20px;
        height: 20px;
        & path {
          fill: #262626;
        }
      }
    }
    &-rule {
      & input {
        margin-right: 8px;
        margin-bottom: -5px;
        appearance: none;
        width: 24px;
        height: 24px;
        background: #f7f7f8;
        border: 1px solid #f1f1f3;
        border-radius: 4px;
        padding: 5px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 80%;
          height: 80%;
          transform: translate(-50%, -50%);
          border-radius: inherit;
        }
        &:focus::after {
          background: #4c4c4d;
        }
      }
      & .line {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 2px;
          background: #656567;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .main-account .row {
    row-gap: 50px;
  }
  .account__info {
    max-width: 40%;
  }
  .account__area {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .main-account .row {
    flex-direction: column;
    align-items: normal;
    row-gap: 50px;
  }
  .account__info {
    max-width: 100%;
    order: 2;
  }
  .account__area {
    order: 1;
    max-width: 100%;
  }
  .account__info-slider {
    justify-content: center;
  }
  .account__area-box-title {
    font-size: 28px;
  }
  .account__area-box-subtitle {
    font-size: 14px;
  }
}
