/* Main Courses */

article.courses__group-card {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.row-gap {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.courses__about {
  & .courses__group-card {
    & .courses-top {
      display: flex;
      flex-direction: column;
      row-gap: 24px;
      & .section__title h2 {
        font-size: 20px;
        padding-bottom: 6px;
      }
      & .slider {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        margin: 0;
        & img {
          max-width: 100%;
          width: 100%;
          height: 326px;
          object-fit: cover;
          border-radius: 6px;
        }
      }
    }
    & .courses-bottom {
      & .courses-title {
        padding: 20px 24px;
        border: 1px solid #f1f1f3;
        border-bottom: 0;
        border-radius: 10px 10px 0 0;
      }
      & .courses-block {
        padding: 24px 40px;
        border: 1px solid #f1f1f3;
        border-radius: 0 0 12px 12px;
        &-container {
          display: flex;
          flex-direction: row;
          &-item {
            flex: 0 2 auto;
            border-right: 1px solid #f1f1f3;
            padding-inline: 39.5px 40.5px;
            &-item h2 {
              font-size: 40px;
              font-weight: 800;
            }
            &-item p {
              font-size: 16px;
              font-weight: 500;
            }
            &:first-child {
              padding-inline: 0 40.5px;
            }
            &:last-child {
              padding-inline: 39.5px 0;
              border-right: 1px solid transparent;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .row-gap {
    row-gap: 20px;
  }
  .courses__about {
    & .courses__group-card {
      & .courses-top {
        & .section__title h2 {
          font-size: 18px;
        }
        & .slider {
          column-gap: 10px;
          & img {
            height: 100px;
          }
        }
      }
      & .courses-bottom {
        & .courses-title {
          padding: 14px 20px;
        }
        & .courses-block {
          padding: 24px;
          &-container {
            flex-direction: column;
            &-item {
              flex: 0 0 auto;
              border-right: 1px solid transparent;
              border-bottom: 1px solid #F1F1F3;
              padding-inline: 0;
              padding-block: 20.5px 19.5px ;
              &:first-child {
                padding-top: 0;
                padding-bottom: 19.5px;
              }
              &:last-child {
                padding-bottom: 0;
                padding-top: 20.5px;
                border-bottom: 1px solid transparent;
              }
              &-item h2 {
                font-size: 40px;
                font-weight: 800;
              }
              &-item p {
                font-size: 16px;
                font-weight: 500;
              }
              &:first-child {
                padding-inline: 0;
              }
              &:last-child {
                padding-inline: 0;
                border-right: 1px solid transparent;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .row-gap {
    row-gap: 20px;
  }
  .courses__about {
    & .courses__group-card {
      & .courses-top {
        & .section__title h2 {
          font-size: 18px;
        }
        & .slider {
          column-gap: 10px;
          & img {
            height: 100px;
          }
        }
      }
      & .courses-bottom {
        & .courses-title {
          padding: 14px 20px;
        }
        & .courses-block {
          padding: 24px;
          &-container {
            flex-direction: column;
            &-item {
              flex: 0 0 auto;
              border-right: 1px solid transparent;
              border-bottom: 1px solid #F1F1F3;
              padding-inline: 0;
              padding-block: 20.5px 19.5px ;
              &:first-child {
                padding-top: 0;
                padding-bottom: 19.5px;
              }
              &:last-child {
                padding-bottom: 0;
                padding-top: 20.5px;
                border-bottom: 1px solid transparent;
              }
              &-item h2 {
                font-size: 40px;
                font-weight: 800;
              }
              &-item p {
                font-size: 16px;
                font-weight: 500;
              }
              &:first-child {
                padding-inline: 0;
              }
              &:last-child {
                padding-inline: 0;
                border-right: 1px solid transparent;
              }
            }
          }
        }
      }
    }
  }
}